{% extends "base.html.twig" %}

{% block title %}Détails de {{book.title}} {% endblock %}

{% block body %}
    <h1>{{book.title}}</h1>

    <ul>
        <li>Description : {{book.description}}</li>
        <li>Auteur : {{book.author.firstname}} {{book.author.lastname}}</li>
        <li>Nombre de pages : {{book.nbOfPages}}</li>
    </ul>
{% endblock %}